---
layout : default

---


<section class="col-9 header_all">
    <div class="col-4 header_content">
        <h1 class="header_title">はじめまして</h1>
        <p class="header_para">九州で、デザインと工学を学ぶ、大学生をしています。<br>
        このサイトは、大学生活の中で作ってきた作品や、趣味のものをアーカイブとして残せたらと思い、製作しました。自分の伸び幅を確認するためにもいいかなと思っています。サイトをつくったからには、おもしろいのを作りたいと思っています。</p>
    </div>
    <div class="header_right">
        <img class="col-3 header_img" src="images/kameo_charactor.png" alt="Arduino">
    </div>
</section>

<section id="about_sec02">
    <div class="col-9 centering">
        <h2 class="about_title">趣味と作品</h2>
        <p class="about_para">自分の作ったものと趣味でしていることをカテゴリにわけました。</p>
        <div id="about_sec02_02">
            <div class="about_category col-3">
                <div id="about_sec02_ill" class="centering280x370">
                    <div class="category_text">
                        <h3 class="category_title">Illustrator</h3>
                        <p class="category_para">illustratorを使ったアイコン制作</p>
                    </div>
                </div>
            </div>
            <div class="about_category col-3">
                <div id="about_sec02_ele" class="centering280x370">
                    <div class="category_text">
                        <h3 class="category_title">Electrical Work</h3>
                        <p class="category_para">arduino,raspberry piなど電子工作</p>
                    </div>
                </div>
            </div>
            <div class="about_category col-3">
                <div id="about_sec02_pho" class="centering280x370">
                    <div class="category_text">
                        <h3 class="category_title">Photograph</h3>
                        <p class="category_para">EOS kiss x7で撮ったもの</p>
                    </div>
                </div>
        </div>
    </div>
    </div>

</section>

<section id="about_sec03">
    <div class="col-9 centering">
        <h2 class="about_title">他にも</h2>
        <p class="about_para">上のカテゴリ以外にも、いろいろしていることがあります。これらはWorksから見れます。</p>
        <div>
            <div class="about_category col-3 border-right">
                <div class="about_sec03_contents">
                    <img class="about_sec03_icon" src="images/Game_icon.png" alt="Game">
                    <h3 class="about_sec03_title">Game</h3>
                    <p>unityでゲームを作っています。主にAndroidアプリの製作をしています。C#で開発しています。</p>
                </div>
            </div>
            <div class="about_category col-3 border-right">
                <div class="about_sec03_contents">
                    <img class="about_sec03_icon" src="images/MediaArt_icon.png" alt="MediaArt">
                    <h3 class="about_sec03_title">MediaArt</h3>
                    <p>OpenFrameworksやprocessingで開発しています。OpenCVがとっても面白いと思っています。</p>
                </div>
            </div>
            <div class="about_category col-3">
                <div class="about_sec03_contents">
                    <img class="about_sec03_icon" src="images/3Dprinting_icon.png" alt="3D Printing">
                    <h3 class="about_sec03_title">3D Printing</h3>
                    <p>CADが少しできるのと、研究室に3Dプリンタがあるので、やっています。ヤスリ、塗装までするときもあります。</p>
                </div>
            </div>
        </div>
    </div>
</section>
