---
layout : default

---

<section class="col-9 header_all">
    <div class="col-4 header_content">
        <h1 class="header_title">Photo</h1>
        <p class="header_para">一眼レフ教室に、母と通っていました。その時にCanonのEOS kiss x7を買ってもらったんですが、このカメラが一眼レフカメラの割に軽くて、旅行行くたびに持ち歩いています。シャッター押せば写真は撮れるけど、かっこいい写真撮るのは、難しいんですね。。。</p>
    </div>
    <div class="header_right">
        <img class="col-3 header_img" src="images/Photo_header.png" alt="Photo">
    </div>
</section>

<section id="photo_sec02">
    <div class="col-9 centering photo_sec02_low">
        <div class="col-3">
            <div class="centering280x280"><img src="https://farm2.staticflickr.com/1687/24476205644_38a5c5709c.jpg" width="280" height="280" alt="IMG_3795"></div>
        </div>
        <div class="col-3">
            <div class="centering280x280"><img src="https://farm2.staticflickr.com/1451/25013586211_42e5851739_n.jpg" width="280" height="280" alt="IMG_3400"></div>
        </div>
        <div class="col-3">
            <div class="centering280x280"><img src="https://farm2.staticflickr.com/1526/24739202099_cb2527b796_n.jpg" width="280" height="280" alt="IMG_3362"></div>
        </div>
    </div>
    <div class="col-9 centering photo_sec02_low">
        <div class="col-3">
            <div class="centering280x280"><img src="https://farm2.staticflickr.com/1714/24988698452_c53904850e_n.jpg" width="280" height="280" alt=""></div>
        </div>
        <div class="col-3">
            <div class="centering280x280"><img src="https://farm2.staticflickr.com/1650/25080539346_085fbf06a8_n.jpg" width="280" height="280" alt="">t></div>
        </div>
        <div class="col-3">
            <div class="centering280x280"><img src="https://farm2.staticflickr.com/1551/25106875985_42d0d331e1_n.jpg" width="280" height="280" alt=""></div>
        </div>
    </div>

</section>