/*--------------*/
/*--- common ---*/
/*--------------*/

*{
	margin: 0;
	padding: 0;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
	width: 100%;
	color: #3E3939;
}
.centering{
	display: block;
	margin: 0 auto;
}
.bold{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}
.link_none_deco{
	text-decoration: none;
	color: #3E3939;
}
.centering280x370{
	width: 280px;
	margin: 0 auto;
	height: 370px;
	position: relative;
}
.centering280x280{
	width: 280px;
	margin: 0 auto;
	height: 280px;
	position: relative;
	background-size: cover;
}

/* menu */
.menu{
	margin: 30px;
	overflow: hidden;
}
nav ul li{
	float: right;
	list-style: none;
	width: 100px;
}
nav ul li a{
	text-decoration: none;
	color: #3E3939;
	position: relative;
	display: inline-block;
	padding: .4em;
}
nav ul li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  background-color: #3E3939;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
nav ul li a:hover::after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
#logo{
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	text-decoration: none;
	font-size: 24pt;
	float: left;
	color: #222;
}

/* content */
.content{
	margin: 0 auto;
	overflow: hidden;
}
a{
	color: #222;
}

/* header */
.header_all{
	margin: 100px auto 100px auto;
	display: table;
	position: relative;
}
.header_content{
	float: left;
}
.header_title{
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	margin: 10px 0 10px 0;
}
.header_para{
	margin: 50px 0 10px 0;
}
.header_right{
	float: right;
	position: absolute;
	height: 100%;
	right: 0;
	vertical-align: middle;
}
.header_img{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

/* footer */
#footer_all{
	overflow: hidden;
	background-color: #EEE;
	padding-bottom: 50px;
	padding-top: 50px;
}
.footer_title{
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;

}
#footer_Link ul{
	margin-top: 30px;
	list-style: none;
}

/*--------------*/
/*--- about  ---*/
/*--------------*/

.about_title{
	margin-top: 60px;
}
.about_para{
	margin: 30px 0 50px 0;
}
.about_category{
	width: 300px;
	float: left;
}
#about_sec02{
	overflow: hidden;
	background-color: #EEE;
	padding-bottom: 100px;
}
#about_sec02_ill{
	background-image: url("images/Illustrator_icon.jpg");
}
#about_sec02_ele{
	background-image: url("images/ElectricalWorks_icon.jpg");
}
#about_sec02_pho{
	background-image: url("images/Photo_icon.jpg");
}

.category_text{
	position: absolute;
	background-color: #222;
	opacity: 0.7;
	bottom: 0;
	width: 100%;
	overflow: hidden;
}
.category_title{
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-weight: 600;
	color: #FFF;
	padding-top: 20px;
	float: right;
	padding-right: 10px;
}
.category_para{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #FFF;
	padding-top: 0px;
	float: right;
	padding: 10px;
}

/* sec03 */
#about_sec03{
	margin-bottom: 100px;
}
.about_sec03_contents{
	width: 200px;
	margin: 30px auto;
}
.about_sec03_icon{
	width: 100px;
	display: block;
	margin: 0 auto;
}
.about_sec03_title{
	margin: 50px auto 30px auto;
	text-align: center;
}
.border-right{
	border-right: solid 1px #DDD;
}

/*--------------*/
/*--- works  ---*/
/*--------------*/
#works_sec02{
	margin-bottom: 100px;
}
.works_sec02_low{
	margin-top: 20px;
	margin-bottom: 20px;
}
#works_bg:hover > .works_text{
	color: red;
	height: 25%;

}
.works_text{
	display: block;
	position: absolute;
	background-color: #222;
	opacity: 0.7;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	height: 0%;
	transition-property: height;
	transition-duration:0.2s;
	transition-timing-function:ease-in-out;
}
.works_title{
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-weight: 600;
	color: #FFF;
	padding: 10px;

}
.works_date{
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 12px;
	color: #FFF;
	padding-left: 10px;
	padding-bottom: 10px;
}
@keyframes works_text_anm {
	0% {height: 0%;}
	100% {height: 25%;}
}
/*--------------*/
/*--- photo  ---*/
/*--------------*/
#photo_sec02{
	margin-bottom: 100px;
}
.photo_sec02_low{
	margin-bottom: 20px;
	margin-top: 20px;
}

/*--------------*/
/*---  blog  ---*/
/*--------------*/
#blog_sec02{
	margin-bottom: 100px;
}

.blog_sec02_low{
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	overflow: hidden;
}
.blog_sec02_text{
	margin-left: 50px;
}
.blog_sec03_title{
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	margin-bottom: 20px;
	text-decoration: none;
	color: #222;
}
.blog_sec03_date{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 15px;
}
.blog_sec03_category{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 15px;
}
.border-bottom{
	border-bottom: solid 1px #DDD;
}

/*--------------*/
/*---  page  ---*/
/*--------------*/
#page_content{
	margin-top: 50px;
	margin-bottom: 100px;
}
#page_content h1{
	margin: 25px 0 25px auto;
	border-bottom: solid 3px #DDD;
}
#page_content h2{
	margin: 25px 0 25px auto;
	border-bottom: solid 1px #DDD;
}
#page_content h3{
	margin: 25px 0 15px auto;
}
#page_content p{
	margin: 15px 0 15px auto;
}
.page_head_img{
	width: 900px;

}
.page_1-col_img{
	width: 900px;
	padding: 50px;
}
.page_3-col_img{
	width: 280px;
	display: -moz-inline-box; /*for Firefox 2*/
    display: inline-block;
    margin: 8px;
}
.line-through{
	text-decoration: line-through;
}
/* colum layout */
.col-1{
	width: 100px;
	float: left;
}
.col-2{
	width: 200px;
	float: left;
}
.col-3{
	width: 300px;
	float: left;

}
.col-4{
	width: 400px;
	float: left;
}
.col-5{
	width: 500px;
	float: left;
}
.col-6{
	width: 600px;
	float: left;
}
.col-7{
	width: 700px;
	float: left;
}
.col-8{
	width: 800px;
	float: left;
}
.col-9{
	width: 900px;
	overflow: hidden;
}
