---
layout : default

---

<section class="col-9 header_all">
    <div class="col-4 header_content">
        <h1 class="header_title">Works</h1>
        <p class="header_para">今まで作ってきたものを載せています。大学生活でいろいろ遊んでいたので、思い返せばいろんなことをしていたなと思いました。電子工作をしたり、Illustratorで遊んだものだったりします。趣味も作品も全部この中に入れています。</br>
        右のArduinoも私がIllustratorで製作しました。かわいいでしょ！</p>
    </div>
    <div class="header_right">
        <img class="col-3 header_img" src="images/Works_header.png" alt="Arduino">
    </div>
</section>

<section id="works_sec02">
    <div class="col-9 centering works_sec02_low">
        <div class="col-3">
            <a class="works_title" href="/works/koboshi.html">
                <div id="works_bg" style="background-image: url(https://farm2.staticflickr.com/1568/25027526391_44c8b91ae6_n.jpg);" class="centering280x280">
                    <div class="works_text">
                        <h3 class="works_title" >KOBOSHI</h3>
                        <p class="works_date">2016.01</p>
                    </div>
                </div> 
            </a>  
        </div>
        <div class="col-3">
            <a class="works_title" href="/works/stf.html">
                <div id="works_bg" style="background-image: url(https://farm2.staticflickr.com/1462/25031735021_b2aef50127_n.jpg);" class="centering280x280">
                    <div class="works_text">
                        <h3 class="works_title" >StreetFighter2_ilust</h3>
                        <p class="works_date">2015.12</p>
                    </div>
                </div> 
            </a>  
        </div>
        <div class="col-3">
            <a class="works_title" href="/works/totem.html">
                <div id="works_bg" style="background-image: url(https://farm2.staticflickr.com/1577/25120807005_41662a0c02_n.jpg);" class="centering280x280">
                    <div class="works_text">
                        <h3 class="works_title" >TOTEM</h3>
                        <p class="works_date">2015.02</p>
                    </div>
                </div> 
            </a>  
        </div>
    </div>
    <div class="col-9 centering works_sec02_low">
        <div class="col-3">
            <a class="works_title" href="/works/pair.html">
                <div id="works_bg" style="background-image: url(https://farm2.staticflickr.com/1704/24490144404_b4a812e089_n.jpg);" class="centering280x280">
                    <div class="works_text">
                        <h3 class="works_title" >Pair</h3>
                        <p class="works_date">2014.10</p>
                    </div>
                </div> 
            </a>  
        </div>
        <div class="col-3">
            <a class="works_title" href="/works/kanakoro.html">
                <div id="works_bg" style="background-image: url(https://farm2.staticflickr.com/1566/25231191555_525f4cc50a_o.jpg);" class="centering280x280">
                    <div class="works_text">
                        <h3 class="works_title" >かなころ</h3>
                        <p class="works_date">2014.10</p>
                    </div>
                </div> 
            </a>  
        </div>
        <div class="col-3">
            <a class="works_title" href="/works/catenary.html">
                <div id="works_bg" style="background-image: url(https://farm2.staticflickr.com/1608/24493957443_72b53f8d0e_n.jpg);" class="centering280x280">
                    <div class="works_text">
                        <h3 class="works_title" >Catenary</h3>
                        <p class="works_date">2013.01</p>
                    </div>
                </div> 
            </a>  
        </div>
    </div>
</section>
