<section id="footer_all">
    <div class="col-9 centering">
        <div class="col-5">
            <img class="centering" src="/images/footer_icon.png" alt="kameo9392のtwitterアイコン">    
        </div>
        <div id="footer_Link" class="col-4">
            <h2 class="footer_title">Link</h2>
            <ul>
                <li><span class="bold">twitter</span> <a class="link_none_deco" href="https://twitter.com/kameo9392">@kameo9392</a></li>
                <li><span class="bold">Qiita</span> <a class="link_none_deco" href="http://qiita.com/RuriKameoka">@RuriKameoka</a></li>
                <li><span class="bold">instagram</span> <a class="link_none_deco" href="https://www.instagram.com/kameo9392/">@kameo9392</a></li>
            </ul>
        </div>    
    </div>
</section>