---
layout : default

---
<section class="col-9 header_all">
    <div class="col-4 header_content">
        <h1 class="header_title">Blog</h1>
        <p class="header_para">当初は、技術系の忘備録書くんだ！と思っていたんですが、そういうのはQiitaに書くことにしました。このブログは、やったゲームのこととか！見たアニメのこととか！大好きなものについて書くことにしました。worksに書いてないことも書こうかな。</p>
    </div>
    <div class="header_right">
        <img class="col-3 header_img" src="../images/kameo_charactor.png" alt="Photo">
    </div>
</section>

<section id="blog_sec02">
    <div class="col-9 centering">

        {% for post in site.posts limit:10 %}
        <div class="blog_sec02_low border-bottom">
            <div class="col-1">
                <img class="" src="{{ post.thumbnail }}" width="100" height="100">
            </div>
            <div id="blog_content" class="col-7 blog_sec02_text">
                <h3 class="blog_sec03_title link_none_deco"><a href="{{ post.url }}"> {{ post.title }} </a></h3>
                <p class="blog_sec03_date">{{ post.date | date: "%b %-d, %Y" }}</p>
                <p class="blog_sec03_category">{{ post.category }}</p>
                
            </div>
        </div>
        {% endfor %}

    </div>
</section>

