<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width,initial-scale=1.0" /> -->
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/syntax.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,800italic,600italic,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <title>kameo</title>
</head>
<body>
    <section class="menu">
        <h1><a id="logo" href="/index.html">kameo</a></h1>
        <nav>
            <ul>
                <li><a href="/blog/index.html"><i class="fa fa-pencil fa-fw"></i>blog</a></li>
                <li><a href="/photo.html"><i class="fa fa-camera-retro fa-fw"></i>photo</a></li>
                <li><a href="/works.html"><i class="fa fa-paint-brush fa-fw"></i>works</a></li>
                <li><a href="/index.html"><i class="fa fa-home fa-fw"></i>about</a></li>
            </ul>
        </nav>
    </section>
    <div class="content">
        {{ content }}
    </div>

        {% include footer.html %}
</body>
</html>