<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,800italic,600italic,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <title>kameo</title> 
</head>
<body>
    <section class="menu">
        <a id="logo" href="index.html">kameo</a>
        <nav>
            <ul>
                <li><a href="blog.html"><i class="fa fa-pencil fa-fw"></i>blog</a></li>
                <li><a href="photo.html"><i class="fa fa-camera-retro fa-fw"></i>photo</a></li>
                <li><a href="works.html"><i class="fa fa-paint-brush fa-fw"></i>works</a></li>
                <li><a href="index.html"><i class="fa fa-home fa-fw"></i>about</a></li>
            </ul>
        </nav>
    </section>
    <div class="content">
        <section id="page_info">
            <div class="col-9 centering">
                <h2> {{ page.title }}</h2>
                <p> {{ page.date }} </p>
                <p> {{ page.category }} </p>
            </div>
        </section>
        <section id="page_content">
            <div class="col-9 centering">
                {{ content }}
            </div>
        </section>
    </div>

    <section id="footer_all">
        <div class="col-9 centering">
            <div class="col-5">
                <img class="centering" src="images/footer_icon.png" alt="kameo9392のtwitterアイコン">    
            </div>
            <div id="footer_Link" class="col-4">
                <h2 class="footer_title">Link</h2>
                <ul>
                    <li><span class="bold">twitter</span> <a class="link_none_deco" href="https://twitter.com/kameo9392">@kameo9392</a></li>
                    <li><span class="bold">Qiita</span> <a class="link_none_deco" href="http://qiita.com/RuriKameoka">@RuriKameoka</a></li>
                    <li><span class="bold">instagram</span> <a class="link_none_deco" href="https://www.instagram.com/kameo9392/">@kameo9392</a></li>
                </ul>
            </div>    
        </div>
    </section>
</body>
</html>