---
layout : default

---
<section id="page_info">
    <div class="col-9 centering">
        <h2> {{ page.title }}</h2>
        <p> {{ page.date }} </p>
        <p> {{ page.category }} </p>
    </div>
</section>
<section id="page_content">
    <div class="col-9 centering">
        {{ content }}
    </div>
</section>
        